<html><center>
    <form action="/books/edit_poster" method="post" enctype="multipart/form-data">
<input type="hidden" name="bookid" value="<%=data.bookid %>">
<h1><%=data.bookname %></h1><br><br>
<img src="/images/<%=data.poster %> " width="350" alt=""><br><br>
<b>Upload New Poster</b><br><br>
<input type="file" required name="poster">
<input type="submit" value="Upload Image">

    </form>
</center></html>