<style>
    .loginbackground{
           background-color: rgb(16, 90, 81);
           height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .box{
            background-color: white;
            height: 90vh;
            width: 80vw;
            border-radius: 15px;
             display: flex;
            flex-direction: row;
            
        }

        .box1{
            background-image: url("/images/loginbox1.gif");
            background-size:cover;
            height: 100%;
            width: 50%;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
           
        }

        .box2{
            background:linear-gradient(rgb(178, 9, 178),rgb(91, 91, 215));
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        .loginbox{
           background-color: white;
            height: 70%;
            width: 53%;
            display: flex;
            flex-direction: column;
            align-items: center;
           border-radius: 100px;
        }
        
</style>
<html>
    <head>
        <title>ADMIN LOGIN</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    </head>
<body>
    
</body>
<form action="/admin/chkadminlogin" method="post">
<div class="loginbackground">
    <div class="box">
      <div  class="box1" >
        

      </div>
      <div class="box2">

       <div class="loginbox">

          
           <div style=" margin-top: -60px;">
            <img src="/images/adminshubh.png" width="65px" style="border-radius: 100%; border: solid  rgb(198, 8, 112) 3px;width:110px;height:110px; margin-top: 20px;" alt="">
        </div>

        <div style="font-family: ballu
        ;font-weight: bold;font-size: large;">Admin Login</div>
        
        <div style="margin-top: 30px;width: 280px;">
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping" style="background-color: rgb(178, 9, 178); color:white;font-family:ballubhai;width:85px;" >User Id</span>
                <input type="text" name="emailid" class="form-control" style="background-color:lightgrey; color:black;font-family:ballubhai; font-weight:bold;" placeholder="Enter User id" aria-label="Username" aria-describedby="addon-wrapping">
              </div>

            <div class="input-group flex-nowrap" style="margin-top: 20px;">
                <span class="input-group-text" id="addon-wrapping" style="background-color: rgb(178, 9, 178); color:white;font-family:ballubhai;width:85px;" >Password</span>
                <input type="password" class="form-control"
                name="pwd" style="background-color:lightgrey; color:black;font-family:ballubhai; font-weight:bold;" placeholder="Enter Your Password" aria-label="Username" aria-describedby="addon-wrapping">

              </div>
             
             

        </div>
        <div>
            <button type="submit" class="btn" style="color: white;font-family: ballu;border: solid 0px;border-radius: 20px; margin-top: 35px;width: 150px;
background: linear-gradient(0.25turn, rgb(5, 203, 209), rgb(115, 0, 255), rgb(142, 4, 160));"  ><b>LOGIN</b></button>
        </div>
        <div style="
        font-size: small; margin-top: 10px;">
            Or Sign Up Using
        </div>
            <div style="color: rgb(255, 255, 255);font-size: small; margin-top: 5px;"><img src="/images/fbicon.gif" alt="" style="border-radius: 15px; " width="45px"><img src="/images/googleicon.gif" alt="" style="border-radius: 15px; " width="20px"></div>
 <div style="color: red;margin-bottom: 20px; font-family: poppins;font-weight: bold;">
            <%=message %>
          </div>

          </div>

         
       </div>

      </div>

    </div>
</div></form>
</html>